
.jumbotron {
   
    background-color: darkgrey;
    color:floralwhite;
    min-height: 150px;
    margin: 0px auto;
    padding: 70px 30px;
    text-align:center;
}
.active {
    background:#4527A0;
}

.header{
    background-color: darkcyan;
    color: whitesmoke;
    background-repeat: no-repeat;

}

