<mat-toolbar color="primary" class="header">
  <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
  <span class="flex-spacer"></span>
</mat-toolbar>

<div class="container jumbotron"
    fxLayout="row"
    fxLayout.sm="column" 
    fxLayout.xs="column" 
    fxLayoutAlign.xs="start center"
    fxLayoutAlign.sm="start center" 
    fxLayoutAlign.gt-sm="center center" 
    fxLayoutGap="10px" >

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Abdulkadir Abdullahi</h1>
    <p>Fullstack developer and avid android programer</p>
  </div>
 

</div>

