<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

<div fxFlex >
  <mat-card>
    <mat-card-header class="matheader">
      <mat-card-title>
        <h3>About</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="matwidth">
this is where i will write about me text
    </mat-card-content>
  </mat-card>
  </div>
  </div>