.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}
.matheader{

    background-color: darkcyan;
}
.matbutton{
    background-color: darkcyan;
}
.textarea{
width: 95%;
}