<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

<div fxFlex >
  <mat-card>
    <mat-card-header class="matheader">
      <mat-card-title>
        <h3>Write to me if you Have any Query</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form novalidate #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-dialog-content>
            <p>
              <mat-form-field>
                Email: <input matInput placeholder="Your Email Adress" type="text" [(ngModel)]="user.username" name="username" #username="ngModel" required>
                <mat-error *ngIf="username.errors?.required">Username is required</mat-error>
              </mat-form-field>

            </p>  
           <p>
             
              
            <mat-form-field class="textarea">
              <textarea matInput  placeholder="Your Feedback" rows=12></textarea>
            </mat-form-field>
            
           </p> 
             
          
          </mat-dialog-content>
          <mat-dialog-actions>
            <span class="flex-spacer"></span>
            <button type="submit" mat-button class="matbutton text-floral-white" [disabled]="loginForm.form.invalid" >Contact</button>
           </mat-dialog-actions>
        </form>
        
    </mat-card-content>
    
  </mat-card>
</div>
</div>