<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>My Works
      </h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let pitem of pitems" (click) = "onSelect(pitem)">
        <img height="200px" src={{pitem.image}} alt={{pitem.name}}>
        <mat-grid-tile-footer>
          <h1>{{pitem.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex *ngIf="selectedPitem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{selectedPitem.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{selectedPitem.image}} alt={{selectedPitem.name}}>
      <mat-card-content>
        <p>{{selectedPitem.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>